[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
tortoise-orm = "*"
requests = "*"
gunicorn = "*"
newspaper3k = "*"

[requires]
python_version = "3.8"
